.home {
    display: flex;
    align-items: center;
    height: 100vh;
    gap: 50px;
    padding: 60px 9% 0;
    color: #fff;
    visibility: hidden;
  opacity: 0;
  animation: show-content 1.5s linear forwards;
  animation-delay: 1s;
}
@keyframes show-content{
    100%{
      visibility: visible;
      opacity: 1;
    }}
.home-info h1 {
    font-size: 55px;
}

.home-info h2 {
    font-size: 32px;
    margin-top: -10px;
}
.home-info h2 span{
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .7px #00ff0d;
}

.home-info p {
    font-size: 16px;
    margin: 10px 0 25px;
}

.home-info .btn-sci {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background: #00ff0d;
    border: 2px solid #20ff2b;
    border-radius: 40px;
    box-shadow: 0 0 10px #7cf03d;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
    transition: 0.5s;
}

.btn:hover {
    background: #20ff2b;
    color: #00ff0d;
    box-shadow: none;
}

a {
    text-decoration: none;
}

.home-img .img-box {
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    padding: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-img .img-box::before,
.home-img .img-box::after  {
    content: '';
    position: absolute;
    width: 440px;
    height: 440px;
    background: conic-gradient(transparent, transparent, transparent, #00ff0d);
}

.home-img .img-box .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background: #1f242d;
    border-radius: 50%;
    display: flex;
    z-index: 1;
    justify-content: center;
    overflow: hidden;
}

.home-img .img-box .img-item img {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%; /* Added to ensure the image covers the box */
    object-fit: cover;
  
}
.bars-animation{
    position: absolute;
    width: 100%;
    height: 100%;
  display: flex;
  z-index: -1;
}
.bars-animation .bar{
    width:100%;
    height: 101%;
    background: #1f242d;
  
    transform: translateY(-100%);
    animation:show-bars .5s ease-in-out forwards;
    animation-delay: calc(.1s * var(--i));
}
@keyframes show-bars{
    100%{
        transform: translateY(0%);
    }
}