<section id="projects">

<div class="all">
  <h1 style="color: rgb(255, 255, 255); padding-right: 120px;"  >Projects</h1>
  <div class="card-container">
    <div class="card">
        <img src="https://via.placeholder.com/300x200" alt="Project 1">
        <div class="card-content">
            <h3>Didital Scrapyard</h3>
            <p>A brief description of the first project. Highlight key features and functionality.</p>
            <button>View Project</button>
        </div>
    </div>
  
    <div class="card">
        <img src="https://via.placeholder.com/300x200" alt="Project 2">
        <div class="card-content">
            <h3>Health Managment System</h3>
            <p>A brief description of the second project. Explain its purpose and tools used.</p>
            <button>View Project</button>
        </div>
    </div>
  
    <div class="card">
      <img src="https://via.placeholder.com/300x200" alt="Project 3">
      <div class="card-content">
          <h3>  Whether application </h3>
          <p>A brief description of the second project. Explain its purpose and tools used.</p>
          <button>View Project</button>
      </div>
  </div>
  
  
  <div class="card">
    <img src="https://via.placeholder.com/300x200" alt="Project 4">
    <div class="card-content">
        <h3>Portfolio</h3>
        <p>A brief description of the second project. Explain its purpose and tools used.</p>
        <button>View Project</button>
    </div>
  </div>
  
  
    
       
  
        
    
  </div>
</div>
</section>